# Data Science Tutorial                                                                 
## Conleth Kennedy
## C00172853

### Introduction
The goal of this tutorial is to give you a brief summary of jupyter notebook, data pre-processing and machine learning.
Some the data pre-processing techiques we will be using are as follows.
The target audience for this tutorial is for a 4th year Software Development Class so I assume they have a proficient level of programming experience. 

### What is Jupyter?
Jupyter is an open source application that allows you create documents with live code examples, visualizations, equations with narrative text. Any code, charts or markdown are stored in containers or steps called cells, each cell is independant of another. Cells can be ran singlely or sequential. When ran seqential a cell is assigned an order of execution when it is created and it is import to take note of this assigned order when creating new cells. Not all cells need to be in correct syntax in order for other cells to run/compile along with this you have the ability of using different languages between cells
Some the typical langaues that are used are as follows.
1. Python 
2. JavaScript
3. Bash
4. Ruby
5. Haskel 
6. R 

### Theme
For the theme of the project we will we using fitness related data. The two datasets being used are as follows one for demostartion purposes and the other for machine learning.
1. Weight Loss (35 rows and 7 attributes)
2. Powerlifting (38000 rows 17 attributes)

### Preprocessing 
Data preprocessing is a set of techniques and process’s that must be carried out beforehand to optimize, clean, remove, reduce, translate and describe the unstructured or structure data for data mining.  
1. Data Transformation 
2. Data Reduction
3. Data Discretisation
4. Data Cleansing

#### Machine Learning and Modeling 
Modeling is the process of taking your dataset looking at different machine learning algorithms these algorithm’s will fall into the family of supervised or unsupervised learning. These algorithms are typically used for finding patterns in the data to predict or forecast results. Each model must have a certain number of attributes or predictors to influence future results. It is important to also train the model by using a subset of data typically much smaller than the amount of data massing through the algorithm this is know as a training set.

### Relevant Libaries Used
1. SkLearn
2. Pandas
3. graphviz
4. mathplotlib
5. numpy

## Sources of Data
https://www.youtube.com/watch?v=HW29067qVWk&t=1003s
---    
### Data Set's
https://vincentarelbundock.github.io/Rdatasets/datasets.html
---
https://www.kaggle.com/open-powerlifting/powerlifting-database
---  
### Explantion of data
https://vincentarelbundock.github.io/Rdatasets/doc/carData/WeightLoss.html
---

## Useful information before you start



## Youtube videos
<a href="https://youtu.be/HW29067qVWk" target="_blank"><img src="http://img.youtube.com/vi/HW29067qVWk/0.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>

<a href="https://www.youtube.com/watch?v=V0u6bxQOUJ8&t=1782s" target="_blank"><img src="http://img.youtube.com/vi/V0u6bxQOUJ8/0.jpg" 
alt="IMAGE ALT TEXT HERE" width="240" height="180" border="10" /></a>

# Lesson 1

### Importing data using pandas
The function `read_csv()` that takes in `csv file` and outputs pandas will import the data into a dataframe by default

In [1]:
import pandas as pd
weightLoss = pd.read_csv("file:///C:/Users/ahp15/Desktop/Data%20Science/Jupyer notebook/WeightLoss.csv")

### Displaying data
There is also two different methods of printing the output of the dataframe we can use the standard print method provided by default with python `print()` or we can use the `head(numOfRecords)` method within pandas

Personally in this example we are going to use the `head()` method as it a little easier on the eye and we dont need to show everything if we chose not to.

In [2]:
weightLoss.head(35)

    Unnamed: 0    group  wl1  wl2       wl3  se1     se2     se3  Im useless
0            1  Control  4.0    3       3.0   14    13.0      15           0
1            2  Control  4.0    4       3.0   13    14.0      17           0
2            3  Control  4.0    3       1.0   17    12.0      16           0
3            4  Control  3.0    2       1.0   11    11.0      12           0
4            5  Control  5.0    3       2.0   16    15.0      14           0
5            6  Control  6.0    5       4.0   17    18.0      18           0
6            7  Control  6.0    5       4.0   17    16.0      19           0
7            8  Control  5.0    4       1.0   13    15.0      15           0
8            9  Control  5.0    4       1.0   14    14.0      15           0
9           10  Control  3.0    3       2.0   14    15.0      13           0
10          11  Control  4.0    2       2.0   16    16.0      11           0
11          12  Control  5.0    2       1.0   15    13.0      16           0
12          13     Diet  6.0    3       2.0   12    11.0      14           0
13          14     Diet  5.0    4       1.0   13    14.0      15           0
14          15     Diet  7.0    6       3.0   17    11.0      18           0
15          16     Diet  6.0    4       2.0   16    15.0      18           0
16          17     Diet  3.0    2       1.0   16    17.0      15           0
17          18     Diet  5.0    5       4.0   13    11.0      18           0
18          19     Diet  4.0    3       1.0   12    11.0      14           0
19          20     Diet  4.0    2       1.0   12    11.0      11           0
20          21     Diet  6.0    5       3.0   17    16.0      19           0
21          22     Diet  7.0    6       4.0   19    19.0      19           0
22          23     Diet  4.0    3       2.0   15    15.0      15           0
23          24     Diet  7.0    4       3.0   16    14.0      18           0
24          25   DietEx  7.0    7       4.0   15    11.0      19           0
25          26   DietEx  4.0    7       1.0   16    12.0      18           0
26          27   DietEx  9.0    7       3.0   13    12.0      17           0
27          28   DietEx  3.0    4       1.0   16    13.0      17           0
28          29   DietEx  3.0    5       1.0   13    13.0      16           0
29          30   DietEx  6.0    5       2.0   15    12.0      18           0
30          31   DietEx  6.0    6       3.0   15    13.0      18           0
31          32   DietEx  9.0    5       2.0   16    14.0      17           0
32          33   DietEx  7.0    9       4.0   16    16.0      19           0
33          34   DietEx  8.0    6       1.0   17    17.0      17           0
34          35    ahhhh  NaN  100  100000.0  100  1000.0  100000           0

### Drawing graphs
Along with this using the `matplotlib` libary in python it can be useful to display your data in different format's to help with preprocessing

In [3]:
import matplotlib.pyplot as plt

# a scatter plot comparing num_children and num_pets
weightLoss.plot(kind='scatter',x='wl1',y='se1',color='red')
plt.show()

### Removing Outliers 
Below we have a simple example of removing outliers. The Importance of removing outliers from your dataset is there are extreme cases's of data being very distant from the standard distribution. These outliers have the possibility of skewing the results and having an impact on the accuracy of the data.

In this example we're using the method with numpy libary by setting an upper and lower bound of the quantile.

As we can see from the statment our low bound is anything over `1.7` and upper bound anything over `8.9`

In [4]:
lower_bound = 0.02
upper_bound = 0.97
res = weightLoss.wl2.quantile([lower_bound,upper_bound])
res

0.02    1.7
0.97    8.9
Name: wl2, dtype: float64

Next we can refined a region to dectect any outliers and we stored this in the value `res` in the code snipnet below anything that is within that region is considered a true index and anything outside of that region is considered a false region

In [5]:
true_index = (res.loc[lower_bound]< weightLoss.wl2.values) & (weightLoss.wl2.values < res.loc[upper_bound])
true_index

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False, False])

After we have figured out our outliers we then need to loop through the array and then remove any of those outliers by using the `drop()` method supplied in pandas

In [6]:
i = 0
while i < len(true_index)-1:
    if true_index[i] == False:
        weightLoss.drop(weightLoss.index[i],inplace=True)
    i += 1
weightLoss

    Unnamed: 0    group  wl1  wl2       wl3  se1     se2     se3  Im useless
0            1  Control  4.0    3       3.0   14    13.0      15           0
1            2  Control  4.0    4       3.0   13    14.0      17           0
2            3  Control  4.0    3       1.0   17    12.0      16           0
3            4  Control  3.0    2       1.0   11    11.0      12           0
4            5  Control  5.0    3       2.0   16    15.0      14           0
5            6  Control  6.0    5       4.0   17    18.0      18           0
6            7  Control  6.0    5       4.0   17    16.0      19           0
7            8  Control  5.0    4       1.0   13    15.0      15           0
8            9  Control  5.0    4       1.0   14    14.0      15           0
9           10  Control  3.0    3       2.0   14    15.0      13           0
10          11  Control  4.0    2       2.0   16    16.0      11           0
11          12  Control  5.0    2       1.0   15    13.0      16           0
12          13     Diet  6.0    3       2.0   12    11.0      14           0
13          14     Diet  5.0    4       1.0   13    14.0      15           0
14          15     Diet  7.0    6       3.0   17    11.0      18           0
15          16     Diet  6.0    4       2.0   16    15.0      18           0
16          17     Diet  3.0    2       1.0   16    17.0      15           0
17          18     Diet  5.0    5       4.0   13    11.0      18           0
18          19     Diet  4.0    3       1.0   12    11.0      14           0
19          20     Diet  4.0    2       1.0   12    11.0      11           0
20          21     Diet  6.0    5       3.0   17    16.0      19           0
21          22     Diet  7.0    6       4.0   19    19.0      19           0
22          23     Diet  4.0    3       2.0   15    15.0      15           0
23          24     Diet  7.0    4       3.0   16    14.0      18           0
24          25   DietEx  7.0    7       4.0   15    11.0      19           0
25          26   DietEx  4.0    7       1.0   16    12.0      18           0
26          27   DietEx  9.0    7       3.0   13    12.0      17           0
27          28   DietEx  3.0    4       1.0   16    13.0      17           0
28          29   DietEx  3.0    5       1.0   13    13.0      16           0
29          30   DietEx  6.0    5       2.0   15    12.0      18           0
30          31   DietEx  6.0    6       3.0   15    13.0      18           0
31          32   DietEx  9.0    5       2.0   16    14.0      17           0
33          34   DietEx  8.0    6       1.0   17    17.0      17           0
34          35    ahhhh  NaN  100  100000.0  100  1000.0  100000           0

### Data Cleansing
Below we are using `dropna()` as part of the pandas libary to remove any rows of data where the *wl1* colume have empty values.
again we are removing the value with the text *remove me*

In [7]:
weightLoss.dropna(subset=['wl1'], inplace=True)
weightLoss.tail(10)

    Unnamed: 0   group  wl1  wl2  wl3  se1   se2  se3  Im useless
23          24    Diet  7.0    4  3.0   16  14.0   18           0
24          25  DietEx  7.0    7  4.0   15  11.0   19           0
25          26  DietEx  4.0    7  1.0   16  12.0   18           0
26          27  DietEx  9.0    7  3.0   13  12.0   17           0
27          28  DietEx  3.0    4  1.0   16  13.0   17           0
28          29  DietEx  3.0    5  1.0   13  13.0   16           0
29          30  DietEx  6.0    5  2.0   15  12.0   18           0
30          31  DietEx  6.0    6  3.0   15  13.0   18           0
31          32  DietEx  9.0    5  2.0   16  14.0   17           0
33          34  DietEx  8.0    6  1.0   17  17.0   17           0

### Dimensionality and Data Reduction
in the below example were using the `drop()` methid to remove the *Im useless* colume and reduce the amount of dimensions that need to be processed

In [8]:
weightLoss.drop('Im useless', axis=1, inplace=True)
weightLoss.drop('group', axis=1, inplace=True)
weightLoss.head()

   Unnamed: 0  wl1  wl2  wl3  se1   se2  se3
0           1  4.0    3  3.0   14  13.0   15
1           2  4.0    4  3.0   13  14.0   17
2           3  4.0    3  1.0   17  12.0   16
3           4  3.0    2  1.0   11  11.0   12
4           5  5.0    3  2.0   16  15.0   14

## Transformation

### Normalization
Where attribute data are scaled to fall within certain ranges such as -1.0 to 1.0 or 0.0 to 1.0 this is so that all data will lie in the same range and simplify the processing to converge better results. 

in the below snipnet we are using some of the sklearn libarie to make this conversion.

In [9]:
from sklearn import preprocessing

x = weightLoss.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
weightLoss = pd.DataFrame(x_scaled)
weightLoss.head()

          0         1    2         3      4      5      6
0  0.000000  0.166667  0.2  0.666667  0.375  0.250  0.500
1  0.030303  0.166667  0.4  0.666667  0.250  0.375  0.750
2  0.060606  0.166667  0.2  0.000000  0.750  0.125  0.625
3  0.090909  0.000000  0.0  0.000000  0.000  0.000  0.125
4  0.121212  0.333333  0.2  0.333333  0.625  0.500  0.375

# Lesson 2

### Modeling 
Below we are using a powerlifting dataset for our machine learning element
The goal of the machine learning element is to be able to predict the possible first place winner of a powerlifting competition using a decision tree model from *sklearn* 

### Dataset
Just to take note any preprocessing has been done external to this tutorial due to the limited time of the presentation and due to constraints of technical experience in data preprocessing using the supported langauges in Jupter.

In [10]:
import pandas as pd
powerLifting = pd.read_csv("file:///C:/Users/ahp15/Desktop/Data%20Science/Jupyer%20notebook/powerLifting1.csv", encoding='latin-1', low_memory=False)
powerLifting.head()

,isWinner,Place,MeetID,Sex,Equipment = Wraps,Equipment = Single-ply,Equipment = Raw,Equipment = Multi-ply,Equipment = Straps,Age,BodyweightKg,WeightClassKg,BestSquatKg,BestBenchKg,BestDeadliftKg,TotalKg,Wilks
0,1,1,0,0,1,0,0,0,0,47,59.60,60.0,47.630000,20.41,70.31,138.35,155.05
1,1,1,0,0,0,1,0,0,0,42,58.51,60.0,142.880000,95.25,163.29,401.42,456.38
2,1,1,0,0,0,0,1,0,0,18,63.68,67.5,176.569796,31.75,90.72,122.47,130.47
3,1,1,0,0,1,0,0,0,0,28,62.41,67.5,170.100000,77.11,145.15,392.36,424.40
4,1,1,0,0,0,0,1,0,0,60,67.31,67.5,124.740000,95.25,163.29,383.28,391.98


### Decision Tree
In the below code snipnet we are importing the machine learning model and the graphviz libary to draw the decsion tree. 
We are reading the list of features from the dataset and making the target varrible as `isWinner` and loading the values into a Decision Tree model from SkLearn 

we are define are list of features and target value to make the prediction off of.Along with this we also spilt the dataset using `train_test_spilt()` and finally we then create the model and pass it our labels and features.

In [11]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
import graphviz 
from sklearn.model_selection import train_test_split

train, test = train_test_split(powerLifting, test_size=0.2)

features = list(powerLifting.columns[1:17])
print("* features:", features, sep="\n")

y = powerLifting["isWinner"]
X = powerLifting[features]
dt = DecisionTreeClassifier(min_samples_split=20, random_state=99)
dt.fit(X, y)

features = list(train.columns[1:17])
print("* features:", features, sep="\n")

y1 = train["isWinner"]
X1 = train[features]
dt2 = DecisionTreeClassifier(min_samples_split=20, random_state=99)
dt2.fit(X1, y1)

* features:
['Place', 'MeetID', 'Sex', 'Equipment = Wraps', 'Equipment = Single-ply', 'Equipment = Raw', 'Equipment = Multi-ply', 'Equipment = Straps', 'Age', 'BodyweightKg', 'WeightClassKg', 'BestSquatKg', 'BestBenchKg', 'BestDeadliftKg', 'TotalKg', 'Wilks']
* features:
['Place', 'MeetID', 'Sex', 'Equipment = Wraps', 'Equipment = Single-ply', 'Equipment = Raw', 'Equipment = Multi-ply', 'Equipment = Straps', 'Age', 'BodyweightKg', 'WeightClassKg', 'BestSquatKg', 'BestBenchKg', 'BestDeadliftKg', 'TotalKg', 'Wilks']

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=99,
            splitter='best')

### Drawing the tree 
In the below snipnet we are loading in the decision tree created above into the graphviz liabary and open the results of the model in a pdf to visualise it **which should open in another window**

In [12]:
dot_data = tree.export_graphviz(dt, out_file=None, feature_names=X.columns)
graph = graphviz.Source(dot_data) 
graph.render("tree",view = True)

'tree.pdf'

## Strengths of jupyter
1. Ability to run code in isolated blocks
2. Can be ran through browser no need for IDE
3. Ability to use multiple languages within the one environment 
4. Can easily explain code step by step
5. Markdown and HTML supported
6. Can be ran on a server and used through browser 
7. Visual aids 

## Weaknesses of jupyter
1. If you a delete a cell no way of undoing the delete 
2. if you dont keep of track of excution it can be difficult to debug 
3. if cells are dependant on each other can create complexity
4. Good for proof of concept not for enterprise solution
5. If you create infinite loops all cells will break
6. graphviz issues on windows

# Conclusion
So from the above content we have learned how to do some simple pre-processing with `sklearn` and `pandas`, use jupyter as a development environment, being able to display data through graph's using `matplotlib` and `graphviz` some and some basic modeling and machine learning using `sklearn`.

# References 
https://www.kaggle.com/questions-and-answers/33237

https://www.kdnuggets.com/2017/02/removing-outliers-standard-deviation-python.html

https://stackoverflow.com/questions/11686720/is-there-a-numpy-builtin-to-reject-outliers-from-a-list

https://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html

https://stackoverflow.com/questions/31321510/discretization-into-n-categories-with-equal-amounts-of-observations-in-each

http://chrisstrelioff.ws/sandbox/2015/06/08/decision_trees_in_python_with_scikit_learn_and_pandas.html

https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

https://stackoverflow.com/questions/26414913/normalize-columns-of-pandas-data-frame/26422495

http://queirozf.com/entries/pandas-dataframe-plot-examples-with-matplotlib-pyplot